.ant-menu-dark{
  background-color: #282828;
}
.ant-switch.ant-switch-checked .ant-switch-inner {
  color: rgba(255, 255, 255, 0.88);
}
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline{
  background-color: #282828;
}
/* Estilo para o tema claro */
.ant-switch:not(.ant-switch-checked) .ant-switch-inner {
  color: rgba(0, 0, 0, 0.88);
}

#menuBar{
  height: 100vh;
  padding: 25px 0 0 0;
}